/**************************************
  Body
**************************************/

body {
  margin: 0;
}

/**************************************
  Header
**************************************/
header {
  justify-content: space-between;
  background-color: #154360;
  border-bottom: 5px solid white;
  border-top: 3px solid white;
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
}

/**************************************
  Name and Description
**************************************/
.whoami {
  color: white;
  padding: 0 10px;
  margin-top: auto;
}

.myname {
  font-family: "Courgette", "Lucida Grande", sans-serif;
  line-height: 10px;
  letter-spacing: 3px;
}

.mydesc {
  font-weight: lighter;
}

/**************************************
  Top Menu
**************************************/
nav {
  display: flex;
  justify-content: center;
  background: #154360;
  border-bottom: 5px solid white;
}

ul {
  padding: 0;
}

.navi a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navi {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
}

.navi a:hover {
  transition: all 200ms ease-in;
  transform: scale(1.2);
}

/**************************************
  Hero Section
**************************************/
.intro {
  display: none;
}

video {
  width: 100%;
  height: 100%;
}

/**************************************
  Article Section
**************************************/
.heading-info {
  font-family: "Courgette", "Lucida Grande", sans-serif;
  color: #154360;
  font-size: 25px;
  padding: 0 40px;
  line-height: 10px;
}

.info {
  font-family: "Courgette", "Lucida Grande", sans-serif;
  color: #154360;
  font-size: 25px;
  padding: 0 40px 0 40px;
}

/**************************************
  Bottom Navigation
**************************************/
.nav2 {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #154360;
  padding: 30px;
}

.pic {
  margin: 20px;
  border: 10px solid white;
}

.blksz {
  position: relative;
  transition: all .2s ease-in-out;
}

.blksz:hover {
  transform: rotate(5deg) scale(1.1);
}

.picdesc {
  position: initial;
  color: white;
  font-style: italic;
  padding: 20px 0 0 0;
  margin: 0;
  text-align: center;
  line-height: 2px;
}

/**************************************
  Footer
**************************************/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #154360;
}

.copy {
  font-size: 18px;
  font-family: "Courgette", "Lucida Grande", sans-serif;
  letter-spacing: 2px;
  color: white;
}