
header {
  text-align: center;
  justify-content: space-between;
  background-color: #154360;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  letter-spacing: 3px;
}

.header-logo {
  margin: 15px 0 0 20px;
}

body {
  margin: 0;
}

video {
  width: 100%;
  border-bottom: 10px solid white;
  height: 60%;
}
/*video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("images/Very-Open-Space.jpg") no-repeat;
    background-size: cover;
    transition: 1s opacity;
}*/

.tlogo {
  height: auto;
  width: 100%;
}

.whoami {
  margin: 0px 50px 0 0;
  color: white;
}

.myname {
  float: right;
  font-family: "Courgette", "Lucida Grande", sans-serif;
  line-height: 10px;
}

nav {
  margin: 0;
}

ul {
  padding: 0;
}

.navi a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-size: 22px;
}


.navi {
  list-style: none;
  margin-top: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navi a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navi {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navi {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navi a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navi li:last-of-type a {
    border-bottom: none;
  }
}

.nav2 {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #154360;
}

.pic {
  margin: 20px;
  border: 10px solid white;
  transition: all .2s ease-in-out; 
}

.pic:hover { 
  transform: rotate(5deg) scale(1.1);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #154360;
}

.copy {
    font-size: 18px;
    font-style: italic;
    color: white;
}

