


@media screen and (max-width: 550px) {

  /* Menu styling*/
    nav {
      order: 2;
    }

    .navi {
      flex-flow: column;
      padding: 0;
    }

    .navi a {
      text-align: center;
      padding: 15px;
      border-top: 1px solid rgba(255,255,255,0.3);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      font-size: 24px;
    }

    .navi li:last-of-type a {
      border-bottom: none;
    }

    /*video {
      display: none;
    }*/

  /* Style name and Desc*/
    .whoami {
      order: 1;
      position: relative;
      margin: 0 0 0 10px;
    }

  /* Style logo*/
    .header-logo {
      margin: 0 0 0 10px;
      order: 0;
    }

  /* Style image buttons */
   .pic {
    width: 40vw;
    margin: 10px;
   }

   .blksz:hover,
   .blksz {
    transition: none !important;
    transform: none !important;
   }

   .picdesc {
    line-height: normal;
   }

  /* Copyright styling*/
   .copy {
    font-size: 4vw;
   }
}


@media screen and (min-width: 551px) and (max-width: 700px) {

    nav {
      order: 2;
      margin: auto;
      flex-flow: row;
    }

    .navi a,
    .navi a:hover {
      text-align: center;
      border-top: 1px solid rgba(255,255,255,0.3);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      font-size: 20px;
      transition: none !important;
      transform: none !important;
    }

    .whoami {
      order: 1;
      margin: auto;
      padding: 45px 0 0 95px;
    }

    .header-logo {
      margin: 20px 0 0 40px;
      order: 0;
    }

   .pic {
    width: 40vw;
    margin: 10px;
   }

   .blksz:hover,
   .blksz {
    transition: none !important;
    transform: none !important;
   }

   .picdesc {
    line-height: normal;
   }

   .copy {
    font-size: 4vw;
   }
}


@media screen and (min-width: 701px) and (max-width: 1050px) {

    header {
      justify-content: space-around;
      padding: 0;
    }
    nav {
      order: 2;
      margin: auto;
      flex-flow: row;
    }

    .navi a,
    .navi a:hover {
      text-align: center;
      border-top: 1px solid rgba(255,255,255,0.3);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      font-size: 20px;
      transition: none !important;
      transform: none !important;
    }

    .whoami {
      order: 1;
      padding: 53px 0 0 0;
      margin: 0;
    }

    .header-logo {
      margin: 0;
      order: 0;
    }

    .tlogo {
      margin: 15px;

    }

   .pic {
    width: 40vw;
    margin: 10px;
   }

   .blksz:hover,
   .blksz {
    transition: none !important;
    transform: none !important;
   }

   .picdesc {
    line-height: normal;
   }

   .copy {
    font-size: 2vw;
   }
}


@media screen and (min-width: 1051px) and (max-width: 1192px) {
    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    nav {
      order: 2;
    }

    .navi {
      padding: 0;
      margin-bottom: 0;
    }

    .navi a {
      text-align: center;
      padding:15px;
      border-top: 1px solid rgba(255,255,255,0.3);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      font-size: 20px;
    }

    .navi li:last-of-type a {
      border-bottom: none;
    }

    .whoami {
      order: 3;
      position: relative;
      margin: 0 0 0 10px;
    }

    .myname {
      font-size: 18px;
    }

    .header-logo {
      margin: 0 0 0 10px;
      order: 0;
      width: 175px;
    }

    .tlogo {
      margin: 15px;
    }

   .copy {
    font-size: 2vw;
   }
}


